:root {
    --label-icon: url("../imagens/moon-dark.png");
    --label-icon-branco: url("../imagens/moon.png");
    --branco: #FFFFFF;
    --preto: #010101;
}


.mudar-tema {
    background: var(--label-icon);
    background-repeat: no-repeat;
    padding: 30px;
    position: absolute;
    margin-top: -70px;
    margin-right: 180px;
    cursor: pointer;
}

.mudar-icone {
    background: var(--label-icon-branco); 
    background-repeat: no-repeat;
    padding: 30px;
    position: absolute;
    margin-top: -70px;
    margin-right: 180px;
    cursor: pointer;
}

#btn {
    display: none;
}

.dark-mode {
    background-color: var(--preto);
    transition: 2s;

}

.dark-mode-sidebar {
    background-color: #2C3333;
    transition: 2s;
}


.dark-cabecalho {
    background-color: #2C3333;
    color: var(--branco);
    transition: 2s;
}

.dark-titulo {
    color: var(--branco);
    transition: 2s;
}

.animacao {
    animation: animacao 2s ease-in-out;

}

@keyframes animacao {
	0% {
		margin-left: 100%;
        
	}
	100% {
        margin-left: 0%;

	}
}